body{
    margin:0px;
}
ul{
    /* position:fixed; */
    display: flex;
    gap:1.5rem;
    list-style-type:none;
    width:100vw;
    /* border:2px solid black; */
     background-image: linear-gradient(115deg,#eeaf61,#fb9062,#ee5d6c,#ce4993,#6a0d83);
    border-image-slice: 1;
    margin:0px;


}
.container{
    width:100%;
    margin:0px;
    padding:0px;
}
ul li:hover{
    cursor: pointer;
}
ul li{
    padding:5px;
    
}
.links{
   padding-top:9px;
}

.todo{
     color: #1E1F25;
    font-weight: bold;
    font-size: 22px;
}
input{
    width:100px;
    /* border:3px solid blue; */
     position: absolute;
    right:0;
    height:33px;
    /* border-radius: px; */
    user-select: none;
    outline:none;
    width:20%;
    font-size:20px;

}
input:focus{
    border:2px solid rgb(0, 136, 255);
    transition: ease 1s;
    width: 40%;

}
input:focus::placeholder{
    color: transparent;
}
